<div class="change-pass">
  <div class="header">
    <h3>Cambiar contraseña</h3>
    <a mat-tab-link [routerLink]="['/home']">Inicio</a>
    <a mat-tab-link [routerLink]="['/list']">Lista alumnos</a>
    <a mat-tab-link [routerLink]="['/home']">Modificar alumno</a>
  </div>
  <div class="content">
    <form [formGroup]="changePass" (ngSubmit)="submitForm()" class="container-form">
      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="changePass.get('password')?.errors && changePass.get('password')?.hasError('required')">
          {{ STUDENT_ERRORS.password.notProvided }}
        </mat-error>
        <mat-error *ngIf="changePass.get('password')?.errors && changePass.get('password')?.hasError('minLength')">
          {{ STUDENT_ERRORS.password.minLength }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Repita la nueva contraseña</mat-label>
        <input matInput type="password" formControlName="repeatPassword" required>
        <mat-error *ngIf="changePass.get('repeatPassword')?.errors && changePass.get('repeatPassword')?.hasError('required')">
          {{ STUDENT_ERRORS.repeatPassword.notProvided }}
        </mat-error>
        <mat-error *ngIf="changePass.get('repeatPassword')?.errors && changePass.get('repeatPassword')?.hasError('minLength')">
          {{ STUDENT_ERRORS.repeatPassword.minLength }}
        </mat-error>
      </mat-form-field>
      <div *ngIf="changePass.get('password')?.value === changePass.get('repeatPassword')?.value ; then correct else incorrect"></div>
      <ng-template #correct>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
        </div>
      </ng-template>
      <ng-template #incorrect>
        <div class="buttons">
          <button mat-raised-button color="primary" type="submit" disabled="true">Cambiar contraseña</button>
        </div>
        <mat-error class="notEqual">
          {{ STUDENT_ERRORS.repeatPassword.invalid }}
        </mat-error>
      </ng-template>
    </form>
    <app-strength-bar (shareStrength)="getStrength($event)" [controller]="changePass.get('password')"></app-strength-bar>
  </div>
</div>

