h3{
  margin: 1em;
}

.header{
  display: flex;
  flex-direction: row;
}

.header > a{
  margin-top: 1.3em;
  margin-left: 13em;
}

.notEqual{
  margin-left: 2em;
}

.container-form{
  display: grid;
  grid-template-columns: auto auto;
}

.container-form mat-form-field{
  margin: 1em;
}

.notEqual{
  margin-left: -50em;
}

button{
  margin-left: 95%;
}
